
ViewModel/obj/Debug/ViewModel.dll
ViewModel/obj/Debug/ViewModel.dll
ViewModel/obj/Debug/ViewModel.pdb
ViewModel/obj/Debug/ViewModel.dll
ViewModel/bin/Debug/ViewModel.pdb
ViewModel/bin/Debug/ViewModel.dll
KibaFramework/obj/Debug/KibaFramework.pdb
*.pdb
.vs/KibaFramework/v15/Server/sqlite3/storage.ide-shm
.vs/KibaFramework/v15/.suo
KibaFramework/bin/Debug/KibaFramework.exe
KibaFramework/bin/Debug/KibaFramework.pdb
KibaFramework/bin/Debug/ViewModel.dll
KibaFramework/bin/Debug/ViewModel.pdb
KibaFramework/obj/Debug/KibaFramework.csprojAssemblyReference.cache
KibaFramework/obj/Debug/KibaFramework.exe
KibaFramework/obj/Debug/KibaFramework.csprojAssemblyReference.cache
KibaFramework/obj/Debug/KibaFramework.pdb
ViewModel/bin/Debug/ViewModel.dll
ViewModel/bin/Debug/ViewModel.pdb
ViewModel/obj/Debug/ViewModel.dll
ViewModel/obj/Debug/ViewModel.pdb
.vs/KibaFramework/v15/.suo
DTO/bin/Debug/DTO.exe
DTO/bin/Debug/DTO.pdb
DTO/obj/Debug/DTO.csproj.FileListAbsolute.txt
DTO/obj/Debug/DTO.csprojAssemblyReference.cache
DTO/obj/Debug/DTO.exe
DTO/obj/Debug/DTO.pdb
KibaFramework/bin/Debug/DTO.exe
KibaFramework/bin/Debug/DTO.pdb
